<launch>
    <param name="robot_description" textfile="$(find urdf_test)/urdf/urdf/demo04_train.urdf" />

    <node pkg="rviz" type="rviz" name="rviz_test" args="-d $(find urdf_test)/config/demo_urdf_config.rviz" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />

</launch>
